@model IEnumerable<DeskJob_Dashboard.Models.FlashCard>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/FlashCard.css" />

<div class="page-container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Certificate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subcategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Front)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Back)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Certificate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subcategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Front)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Back)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
