@using System.Web
@model IEnumerable<DeskJob_Dashboard.Models.FlashCard>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">

<div class="flashcard-page-container">
    <!-- todo: #47 add dropdowns for certificate, section, module    -->
    <div class="flashcard-container">
        @*- card header -----------------------------------*@
        <div class="card-info">
            <span class="card-info-title">
                <select id="ddl_certificate" class="card-info-dropdown" onchange="OnChange_CardInfoDropdown(this, 'Certificate')">
                    <option value="All">All Certifications/Subjects</option>
                    @foreach (string option in Model.Select(c => c.Certificate).Distinct())
                    {
                        <option value="@option">@option (@Model.Where(c => c.Certificate == option).Count())</option>
                    }
                </select>
            </span>
            <span class="card-info-subtitle">
                <select id="ddl_section" class="card-info-dropdown" onchange="OnChange_CardInfoDropdown(this, 'Section')">
                    @foreach (string option in Model.Select(c => c.Section).Distinct())
                    {
                        <option value="@option">@option (@Model.Where(c => c.Section == option).Count())</option>
                    }
                </select>
            </span>
            <span class="card-info-subtitle">
                <select id="ddl_module" class="card-info-dropdown" onchange="OnChange_CardInfoDropdown(this, 'Module')">
                    @foreach (string option in Model.Select(c => c.Module).Distinct())
                    {
                        <option value="@option">@option (@Model.Where(c => c.Module == option).Count())</option>
                    }
                </select>
            </span>
        </div>

        @*- cards -----------------------------------------*@
        <div class="card-frame">
            @*- card header -------------------------------*@
            <div class="Card-Header">
                <span class="card-title">@Model.FirstOrDefault().Topic</span>
                <div class="card-count">
                    <span id="cards_completed_count">0</span> / <span id="cardset_total">@Model.Count()</span>
                </div>
            </div>
            @*- card content ------------------------------*@
            <div class="Card-Content" onclick="toggleFace()">
                <div id="prompt">
                    <span>
                        @Html.Raw(Model.FirstOrDefault().Prompt.Replace("\"", ""))
                    </span>
                </div>

                <div id="answer" class="d-none">
                    <span>
                        @Html.Raw(Model.FirstOrDefault().Answer.Replace("\"", ""))
                    </span>
                </div>
            </div>
            @*- submit buttons ----------------------------*@
            <div class="Submit-Buttons">
                <div class="submit-btn negative" onclick="remindCard()">
                    <span class="submit-btn-content">Remind me</span>
                </div>
                <div class="submit-btn positive" onclick="nextCard()">
                    <span class="submit-btn-content">I know this!!</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let cards = @Html.Raw(Json.Serialize(Model));
    let current_cardset = cards;
    let current_card = cards[0];
    let completedCount = 0;

    console.log(JSON.stringify(cards));

    window.onload = (event) => {
        //UpdateDOM_CardInfoDropdown('certificate');
        document.getElementById("ddl_certificate").value = "All";
        Lock_CardInfoDropdown(document.getElementById("ddl_certificate"));
    }


    function remindCard() {
        addCard(current_card);
        nextCard();
    }

    function nextCard() {
        // check if done
        if (current_cardset.length == 0) {
            alert("congratulations");
            return;
        }

        // TODO: #46 Change card traversal so that cards are kept in memory
        completedCount++;

        current_card = current_cardset.shift();
        Update_CardInfoDropdown_IfNotLocked(current_card.certificate, "ddl_certificate");
        Update_CardInfoDropdown_IfNotLocked(current_card.section, "ddl_section");
        Update_CardInfoDropdown_IfNotLocked(current_card.module, "ddl_module");
        document.getElementsByClassName("card-title")[0].innerHTML = current_card.topic;
        document.getElementById("prompt").innerHTML = "<span>" + current_card.prompt + "</span>";
        document.getElementById("answer").innerHTML = "<span>" + current_card.answer + "</span>";

        // cards completed
        document.getElementById("cards_completed_count").innerHTML = completedCount;

        // reset card face
        let prompt = document.getElementById("prompt");
        if (prompt.classList.contains("d-none")) {
            toggleFace();
        }
    }


    function Filter_CurrentCardSet(property, value) {
        // doubl check with the user that this is what they wnat

        if(value == "All"){
            property = "All";
            current_cardset = cards;
        } else {
            current_cardset = cards.filter((card) => card[property.toLowerCase()] == value);
        }

        // reset count, update the number of cards
        document.getElementById("cardset_total").innerHTML = current_cardset.length;
        completedCount = -1;
        nextCard();

        // unlock relevant dropdowns depending on category
        UpdateDOM_CardInfoDropdown(property);

        // change the current card
        //
    }

    //Card dropdowns
    function UpdateDOM_CardInfoDropdown(property) {
        switch (property.toLowerCase()) {
            case "certificate":
                Unlock_CardInfoDropdown(document.getElementById("ddl_section"));
                Unlock_CardInfoDropdown(document.getElementById("ddl_module"));

                Update_CardInfoDropdown_IfNotLocked(current_card.section, "ddl_section");
                Update_CardInfoDropdown_IfNotLocked(current_card.module, "ddl_module");
                break;
            case "section":
                Unlock_CardInfoDropdown(document.getElementById("ddl_certificate"));
                Update_CardInfoDropdown_IfNotLocked(current_card.certificate, "ddl_certificate");
                Lock_CardInfoDropdown(document.getElementById("ddl_certificate"));

                Unlock_CardInfoDropdown(document.getElementById("ddl_module"));
                Update_CardInfoDropdown_IfNotLocked(current_card.module, "ddl_module");
                break;
            case "module":
                Unlock_CardInfoDropdown(document.getElementById("ddl_certificate"));
                Unlock_CardInfoDropdown(document.getElementById("ddl_section"));

                Update_CardInfoDropdown_IfNotLocked(current_card.certificate, "ddl_certificate");
                Update_CardInfoDropdown_IfNotLocked(current_card.section, "ddl_section");

                Lock_CardInfoDropdown(document.getElementById("ddl_certificate"));
                Lock_CardInfoDropdown(document.getElementById("ddl_section"));

                break;
            default:

                Update_CardInfoDropdown_IfNotLocked("All", "ddl_certificate");
                Update_CardInfoDropdown_IfNotLocked(current_card.section, "ddl_section");
                Update_CardInfoDropdown_IfNotLocked(current_card.module, "ddl_module");
                Unlock_CardInfoDropdown(document.getElementById("ddl_certificate"));
                Unlock_CardInfoDropdown(document.getElementById("ddl_section"));
                Unlock_CardInfoDropdown(document.getElementById("ddl_module"));
                break;
        }
    }


    function Update_CardInfoDropdown_IfNotLocked(value, id) {
        let dropdown = document.getElementById(id);
        if (!isLocked(dropdown)) dropdown.value = value;

        function isLocked(ddl) {
            return ddl.dataset.locked == "true";
        }
    }

    function Lock_CardInfoDropdown(ddl) {
        ddl.dataset.locked = true;
        ddl.classList.add("locked");
    }

    function Unlock_CardInfoDropdown(ddl) {
        ddl.dataset.locked = false;
        ddl.classList.remove("locked");
    }

    function OnChange_CardInfoDropdown(ddl, property) {
        Filter_CurrentCardSet(property, ddl.value);
        Lock_CardInfoDropdown(ddl);
    }

    function addCard(card) {
        current_cardset.push(card);
        completedCount--;
    }

    function toggleFace() {
        let prompt = document.getElementById("prompt");
        let answer = document.getElementById("answer");

        prompt.classList.toggle("d-none");
        answer.classList.toggle("d-none");
    }
</script>

<style>
    th, td {
        font-size: 12px;
    }

    :root {
        --card-min-width: 360px;
        --card-height: 500px;
    }

    @@media only screen and (min-width: 600px) {
        :root {
            --card-min-width: 480px;
            --card-height: 600px;
        }

        .flashcard-container {
            font-size: 1rem;
        }
    }

    .flashcard-page-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: #1e1e1e;
        transition: 0.8s;
    }

    .flashcard-container {
        min-width: var(--card-min-width);
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 0;
    }


    /*Card info header*/
    .card-info {
        width: var(--card-min-width);
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        padding: 10px 20px;
        transition: 0.8s;
    }

    .card-info-dropdown, .card-info-dropdown option {
        background: #1e1e1e;
        border: none;
        width: 100%;
    }

    .card-info-title, .card-info-subtitle {
        width: 100%;
    }

    .card-info-title {
        font-size: 20px;
    }

    .card-info-subtitle {
        font-size: 14px;
        font-weight: 300;
    }

    .locked {
        color: rgb(226, 131, 207);
    }

    .locked option {
        color: white;
    }

    /*card-frame*/
    .card-frame {
        width: var(--card-min-width);
        height: calc(var(--card-height) - 60px);
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        border-radius: 10px;
        background-color: #2e2e2e;
        transition: 0.8s;
    }

    .Card-Header {
        width: 100%;
        height: 50px;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background-color: #3e3e3e;
        border-radius: 10px 10px 0 0;
    }

    .card-title {
        line-height: 100%;
        flex-grow: 0;
        font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin: 0;
    }

    .card-count {
        flex-grow: 0;
        font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }
    /*card contetn*/
    .Card-Content {
        align-self: stretch;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 0;
        transition: 0.8s;
    }

        .Card-Content div {
            align-self: stretch;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }

            .Card-Content div span {
                flex-grow: 0;
                font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
            }

                .Card-Content div span ul {
                    margin-left: 30px;
                }

    /*Submit Buttons*/
    .Submit-Buttons {
        width: 100%;
        height: 62px;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0;
        transition: 0.8s;
    }

    .submit-btn {
        align-self: stretch;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 0;
        cursor: pointer;
        transition: 0.4s linear;
    }

    .negative {
        border-radius: 0 0 0 10px;
    }

        .negative:hover {
            background-color: rgb(104, 0, 0);
        }


        .negative span {
            transition: 0.4s linear;
        }

        .negative:hover > span {
            color: white;
        }

    .positive {
        border-radius: 0 0 10px 0;
    }

        .positive:hover {
            background-color: rgb(30, 87, 0);
        }

        .positive span {
            transition: 0.4s linear;
        }


        .positive:hover > span {
            color: black;
        }

    .submit-btn-content {
        font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }
</style>
